
html, body{
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("hdnature.jpg") no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .landing {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.titlecontent {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.titlecontent h1 {
  color: white;
  font-family: 'Raleway';
  font-size: 2.8em;
  font-weight: 600;
}

#hero {
  background-image: url("hdnature1.jpg"); 
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  width: 100%;
  display: table;
}


#hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

#homediv, #aboutdiv, #projectdiv, #educationdiv, #skillsdiv {
  width: 100%;
  height: 100vh;
  /*line-height: 100vh;     maybe delete this line when were adding some content inside the div*/
}

#homediv {
    font-family: 'Raleway';
}

#aboutdiv {
  background-color: whitesmoke;
  padding: 5%;
}

#educationdiv {
  background-color: gold;
  color: white;
}

#projectdiv {
  background-color: aqua;
  font-family: 'Titillium Web', sans-serif;
  padding: 8% 1%;
}

#skillsdiv {
  background-color: white;
  padding: 5%;
  text-align: center;
}

.skilliconimage img{
  width: 65px;
}

.skillp {
  margin-top: 13px;
}


.titlediv {
  color: white;
  font-size: 2.8em;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.nametitle {
  color: rgba(189, 223, 66, 0.692);
}


/****************FOR NAVBAR***************/

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: fixed;
  width: 100%;
  transition: 1s;
  z-index: 99999;
}

nav ul {
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden; 
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
}

nav.black {
  background: #000;
}


nav ul li {
  display: inline-block;
  padding: 15px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}


.coollink::after {
  content: '';
  width: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.coollink:hover {
  text-decoration: none;
  color: #fff;
}
.coollink:hover::after {
  width: 100%;
  transition: width .3s;
}


.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}




/************** #aboutme ******************/

#aboutdiv {
  /*font-family: 'Titillium Web', sans-serif;*/
}


.aboutmepicture {
  text-align: center;
  width: 100%;
}

.aboutmepicture img {
  width: 180px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 40px 0px 20px 0px;
}

#aboutmecontent {
  margin: 10px;
  padding: 30px;
  font-size: 1.1em;
  width: 100%;
}

#aboutmecontent h2, #aboutmecontent1 h2 {
  font-weight: bold;
  text-align: center;
}


#aboutmecontent p {
  text-indent: 2em;
}

#aboutmecontent1 {
  margin: auto;
  font-size: 1.3em;
  width: 100%;
  padding-top: 65px;
}

#skillsdiv i {
  font-size: 65px;
  color: rgb(44, 32, 32);
}

#skillsdiv i:hover{
  color: gray;
  font-size: 66px;
}

.skillcol {
  display: inline-block;
  margin: 10px 20px;
  text-align: center;
}

.skillcol p {
  margin-top: -15px;
}




/*************** FOR PROJECTS ******************/
.projectheader {
  text-align: center;
  width: 100%;
  height: 60px;
  padding-top: 70px;
}

.projectheader h2 {
   font-weight: bold;
}

.projectcontainer {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}

.projectrow1 {
  width: 30%;
  height: 34vh;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  transition: .5s;
  /* border-radius: 5px; */
  box-shadow: 0 3px 5px rgba(0,0,0,.5);
  margin: 0px -2px;
}

.projectrow1image img {
  width: 100%;
  height: 34vh;
  transition: .5s;
}

.projectrow1:hover .projectrow1image img {
  opacity: .03;
}

.projectrow1 .description {
  position: absolute;
  margin: auto 10%;
  padding: 20px;
  box-sizing: border-box;
  transition: .5s;
  opacity: 0;
}

.projectrow1:hover .description {
  opacity: 1;
  bottom: 25%;
}

/*******************************************************************************************/


















/*for macbook 13 inch */
@media (min-width: 768px) and (max-width: 1366px) {
  #aboutmecontent, #aboutmecontent1 {
    font-size: 1.1em;
  }
}

@media (min-width: 1380px) {
  #aboutmecontent, #aboutmecontent1 {
    font-size: 1.4em; 
  }

  .aboutmecontainer {
    padding: 0px 8%;
  }
}




/*for iphone 6/6+7/8/7+/8+/x*/
@media only screen
and (min-device-width : 414px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio: 3) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 25px;
    font-size: 50px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
        transition: .5s;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 35em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 45px;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
  }
  
  .menu-icon {
    display: block;
    padding: 40px;
    font-size: 27px;

  }

  .titlediv p{
      font-size: 1.2em;
  }

  .aboutmepicture img {
    margin: 140px 0px 20px 0px;
    width: 245px;
  }

  #aboutmecontent h2, #aboutmecontent1 h2 {
  font-size: 2.6em;
  }

  #aboutmecontent p, #aboutmecontent1 p {
    font-size: 1.7em;
  }

  #aboutmecontent {
    padding-top: 5px;
    margin: 0;
    width: 100%;
  }

  #aboutmecontent1 {
    padding: 20px;
    margin: 0;
    width: 100%;
  }

  #aboutdiv {
    height: 115vh;
    width: 100%;
    padding: 20px;
  }

  #skillsdiv i {
  font-size: 115px;
  }

  .skillrow {
    text-align: center;
  }

  .skillcol {
    display: inline-block;
    margin: 10px 15px;
    text-align: center;
  }


  .projectrow1 {
    width: 95%;
    height: 34vh;
    margin: 10px 0px;
    border-radius: 10px;
  }

  #projectdiv {
    padding-top: 100px;
    height: 120vh;
  }

  .coollink::after {
    content: none;
  }

  #skillsdiv {
    padding-top: 160px;
  }
}



/* @media only screen 
and (min-device-width: 375px) 
and (max-device-height: 812px) 
and (-webkit-device-pixel-ratio: 3) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 25px;
    font-size: 50px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
        transition: .5s;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 35em;

  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 45px;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
  }

  .menu-icon {
    display: block;
    padding: 40px;
    font-size: 27px;
  }

  .titlediv {
      font-size: 2.7em;
  }

  .aboutmepicture img {
    margin: 140px 0px 20px 0px;
    width: 245px;
  }

  #aboutmecontent h2, #aboutmecontent1 h2 {
  font-size: 2.6em;
  }

  #aboutmecontent p, #aboutmecontent1 p {
    font-size: 1.5em;
  }

  #aboutmecontent {
    padding-top: 5px;
    margin: 0;
    width: 100%;
  }

  #aboutmecontent1 {
    padding: 20px;
    margin: 0;
    width: 100%;
  }

  #aboutdiv {
    height: 95vh;
    width: 100%;
    padding: 20px;
  }

  #aboutdiv i {
  font-size: 90px;
  }

  #aboutdiv i:hover{
    color: gray;
    font-size: 91px;
  }

  .skillrow {
    text-align: center;
  }

  .skillcol {
    display: inline-block;
    margin: 10px 15px;
    text-align: center;
  }
  
} */








/*for samsung phones*/
@media only screen
and (min-device-width : 360px) 
and (max-device-width : 640px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 25px;
    font-size: 50px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
        transition: .5s;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 35em;

  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 45px;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
  }

  .menu-icon {
    display: block;
    padding: 40px;
    font-size: 27px;

  }

  .titlediv {
      font-size: 2.7em;
  }

  .aboutmepicture img {
    margin: 140px 0px 20px 0px;
    width: 245px;
  }

  #aboutmecontent h2, #aboutmecontent1 h2 {
  font-size: 2.6em;
  }

  #aboutmecontent p, #aboutmecontent1 p {
    font-size: 1.5em;
  }

  #aboutmecontent {
    padding-top: 5px;
    margin: 0;
    width: 100%;
  }

  #aboutmecontent1 {
    padding: 20px;
    margin: 0;
    width: 100%;
  }

  #aboutdiv {
    height: 110vh;
    width: 100%;
    padding: 20px;
  }

  #aboutdiv i {
  font-size: 90px;
  }

  #aboutdiv i:hover{
    color: gray;
    font-size: 91px;
  }

  .skillrow {
    text-align: center;
  }

  .skillcol {
    display: inline-block;
    margin: 10px 15px;
    text-align: center;
  }

}




